// Variables
// 文字颜色
@T1:    #475266;
@T2:    #878D99;
@T3:    #2C2F37;
@T4:    #E56A67;

// 背景颜色
@B1:    #fff;
@B2:    #FFFFFF;
@B3:    #6595F4;
@B4:    #F1BA5C;
@B5:    #9CBDFF;

// 线条颜色
@L1:    #EDEFF0;
@L2:    #CBCBCB;
@L3:    #E3E5E6;

// 阴影颜色
@S1:    #779CE6;
@S2:    #ADBCD9;
@S3:    #5C6373;

@FM:    PingFangSC-Medium;
@FR:    PingFangSC-Regular;
